{% extends "::base.html.twig" %}
{% block title %}{% endblock %}
{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block body %}
    <div class="container">
<h1>Bienvenue sur la page de réinitialisation</h1>
 {{form_start(reinitialisationForm)}}
 {{form_widget(reinitialisationForm)}}
 <button class="btn btn-primary btn-block" type="submit">Soumettre</button>
 {{form_end(reinitialisationForm)}}
 
    </div>
{% endblock %}
